body {
	background:#444;
	overflow-y:hidden;
}
.manu {
	width:350px;
	height:34px;
	position:absolute;
	text-align:center;
	margin:auto;
	top:-34px;
	left:0;
	right:0;
	opacity:0.8;
	background-color:#303030;
}
canvas {
	display:none;
}
.manu span {
	color:#cfcfcf;
	line-height:34px;
	font-size: 14px;
}
a {
	color:#fff;
	text-decoration: none;
}
a:hover {
	color:#ddd;
	text-decoration: none;
}
#who {
	display:none;
	width:233px;
	height:72px;
	margin:auto;
	margin-top:-160px;
	margin-left:-135px;
	position:absolute;
	top:50%;
	/*right:0;*/
	/*bottom:0;*/
	left:50%;
}
.p_class {
	color:#fff;
}

h1 {
	font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
	font-weight: 600;
	font-size: 30px;
	text-indent: 7px;
	color: #fff;
	padding: 0 10px;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin: 0 0 12px 0;
	left: 4px;
}

#who p {
	font-size: 14px;
	line-height: 2em;
	text-align: center;
	color: #fff;
	margin: 0;
	letter-spacing: 2px;
}

.intro{
	color: #fff;
	font-size: 15px;
	text-align: center;
	margin-bottom: 30px;
}

#who span {
	float:right;
}





