body {
	background-color: #fff;
	float:left;
	width:100%;
}
#index-header {
	position:fixed;
	width: 100%;
	height: 120px;
	font-size: 0.9em;
	z-index: 10;
	box-shadow: 0px 5px 20px #f0f0f0;
	background-color: #fff;

}
#search {
	width: 94%;
	position: absolute;
	top: 8px;
	right: 0;
	left: 0;
	margin: auto;
}
#index-search {
	width: 67%;
    height: 40px;
    text-indent: 10px;
    /*line-height:40px;*/
    float: left;
    border-radius: 5px;
    border: 1px solid #999;
}
#search-button {
	position: absolute;
	width:40px;
	height:40px;
	top: 1px;
	right: 34%;
	background-color: #fff;
}
#search-button i {
	position: absolute;
	height: 40px;
	line-height: 39px;
	font-size: 2em;
	
}
#index-button {
    width: 30%;
    height: 42px;
    float: right;
    border: 0px;
    border-radius: 5px;
    background-color: rgb(224,50,58);
    color: #fff;
}
#type {
	width: 94%;
	position: absolute;
	top: 76px;
	right: 0;
	left: 0;
	margin: auto;
}
#type span {
	width: 33%;
	height: 25px;
	line-height: 25px;
	float: left;
	text-align: center;
}
#type span:first-child{
	border-right: 1px solid rgb(221,221,221);

}
#type span:last-child {
	border-left: 1px solid rgb(221,221,221);
	float: right;
}
#type i {
	margin-left: 3px;
	font-size: 1.3em;
}
#index-content {
	/*position: relative;*/
	float:left;
	margin-top: 132px;
	min-height: 400px;
	width: 100%;
}
.img-box {
	width: 44%;
	height: 175px;
	float: left;
	box-shadow: 0 0 12px #e5e5e5;
	border-radius: 3px;
	margin: 0 3% 3% 3%;
}
.img-box a {
	width:100%;
	height:135px;
	display: block;
}
.img-box a img {
	width: 100%;
	height: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}
.img-box p {
	line-height: 40px;
	font-size: 0.9em;
}
.img-box p span:first-child {
	float: left;
	margin-left: 10px;
}
.img-box p span:last-child {
	float: right;
	margin-right: 10px;
	color:  rgb(224,50,58);
}
footer {
	position: relative;
	float: left;
	font-size: 0.8em;
	width: 100%;
}
footer p {
	height: 130px;
	line-height: 160px;
	text-align: center;
}
footer p a {
	color: #000;
	text-decoration: none;
}