html, body, header, 
form, input, ul, li, 
section, a, h3, img, 
span, button, select, option{
	margin:0;
	padding:0;
	outline: none;
	border:none;
}

ul li{
	list-style: none;
}

a,a:visited,a:active{
	color:inherit;
	text-decoration: none;
}

.btn{
	background-color: #F0F0EF;
}

.clearfx:after{
	content: "";
	display: block;
	clear:both;
	height:0;
	visibility: none;
}

input{
	color:inherit;
	font-family: inherit;
}

body{
	overflow: hidden;
	padding:0 3.6% 2.29em;
	color:#42312E;
	font:14px/1.4 "Microsoft Yahei", arial, sans-serif;
	background: #FDFDF5;
}

header{
	font-size: 3.4em;
	line-height: 1.5;
	letter-spacing: 0.26em;
	text-shadow: 1px 1px 10px #d12828;
}

header a{
	display: block;
}

.title{
	padding:0 1.9%;
	color:#fff;
	background:#D92929;
}

#srch-want{
	margin-top: 2.42em;
}

#form-wrapper, #ax-want{
	float: left;
}

#form-wrapper{
	width:100%;
}

#ax-want{
	width:5em;
	color:#fff;
	text-align: center;
	background: #D92929;
	margin:1px 0 0 -5em;
	position: relative;
}

#index #srch{
	margin-right: 7em;
}

#outer{
	width:100%;
}

#wrapper-ipt{
	border:1px solid #D92929;
	border-radius:5px;
	-webkit-border-radius:5px;
	padding:0 56px 0 1.9%;
}

#srch-submit, #outer{
	display: block;
	float: left;
}

#srch-submit, #srch-ipt, #ax-want{
	font-size: 1.3em;
	height:2.35em;
	line-height: 2.35;
}

#srch-ipt{
	display: block;
	width:100%;	
}

#srch-submit{
	width:2.35em;
	margin-left:-2.39em;
	margin-top: 1px; 
	border-radius: 0 5px 5px 0;
	-webkit-border-radius: 0 5px 5px 0;
	background: no-repeat center #eee;
	background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAeCAYAAAA/xX6fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAuIwAALiMBeKU/dgAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDUvMDgvMTMJQ4DTAAACOElEQVRIibXWv4/SYADG8S/YK0QJTVQcOgBhpBoGhluIRien083FwUHfBEcXJ6Wo/4ATyevi4OZ0jk63swAKI6EkdjA5YyNDU0hwkBoOyvEeP56pfdOnn7x9076NTadTFiOlTAHPgAfALeAq8Av4BhwDH4QQo6WiQmKLoJTytaZp9UKhgGmaGIaBrusEQYDnebiuS7/fZzKZ1IQQbzYGpZQ3ADubzVZLpRLJZHJlyfd92u02w+GwAdhCiJ+qoDZ3bBeLxaplWWtLyWSSw8NDUqlUtdfrATxXBeMAUspaNptVwuZjWRa5XK4qpXyr2rlkmmZK07SvlUoFTdPWNxaSyWTo9/u3m83m+3K57K+7Pg48yefz567ZedF1nVwuB/BY5fo4cGSa5kZYmFn/SBW00un0VqBhGAA3VcHriURiK1DXdYBrquBpEARbgbP+qSr43fO8rcBZv6sKfnFddytw1j9WBT8OBgN8f+0rFJkgCHAcB+CTEiiEGE0mE7vdbm8EtlotxuPxOyHEbyUQQAhRHw6HjW5XaRn+p9vt4jhOQwjxSrVz5uPd6/UYjUZKu0Wn08FxHBcoheNSyrXgVvshcA+4A5wIIe5uBM7QcMd/yL8vyModX0p5EqLAI+AA+HEhUDVzMwrRMDZQj+rEN9bO5v7CuQ3U9gkeRIxForsC/xD9CJfQXYHhzdeiuwSV0Iv/xKihsLx+Nux+hvM3j5rpi32BK9F9PNJFFOAlEAOe7nOG8+hl4Arw+S91AOFhZv2obAAAAABJRU5ErkJggg==);
}

#type{
	padding: 0 1.9%;
}

#type, .gallery{
	margin-top: 1.72em;
}

#type li{
	float:left;
	width:22.6%;
	height: 2.43em;
	font-size: 1.5em;
	font-weight: normal;
	text-align: center;
	line-height: 2.43;
}

#type li:nth-child(1),
#type li:nth-child(1),
#type li:nth-child(6){
	width:16%;
	text-align: left;
}

#type li:nth-child(5),
#type li:nth-child(10){
	width:16%;
	text-align: right;
}


#type li a{
	color: #777170;
	display: block;
}

#type li a:hover{
	background: #eee;
}

.gallery h3{
	height:1.8em;
	font-size: 1.7em;
	font-weight: normal;
	line-height: 1.8;
}

.gallery ul{
	padding: 1.02em 1.9%;
}

.gallery ul li{
	padding:10px 0;
}

.gallery ul li *, #want-list ul li>*{
	display: block;
}

.two-col ul li{
	float: left;
	width:47.5%;
	margin-right: 4.9%;
}

.two-col ul li:nth-child(even){
	margin-right: 0;
}

.two-col li a>span{
	width:100%;
}

.gallery img{
	width:100%;
	height:auto;
}

.gallery li a * span{
	float: left;
	width:100%;
	height:1.5em;
	font-size: 1.3em;
	line-height:1.5;
	text-align: left;
}

.gallery li span.price{
	text-align: right;
	color:#d92929;
}

.two-col li span.price{
	margin-left: -100%;
}

.two-col li span.name, .one-col li span{
	overflow: hidden;
}

#page{
	margin-right: -4.33%;
}

#page>*{
	float: left;
	width:29%;
	height:2.35em;
	font-size: 1.6em;
	line-height: 2.35;
	text-align: center;
	color:#42312E;
	margin-right:4.33%;
}

#page .page-index{
	color:#999;
}

.page-index .cur{
	color:#d92929;
}

/*index ending here*/

#srch-result .gallery .title{
	color:#C8BFBF;
	overflow: hidden;
}

.gallery .title span{
	color:#fff;
}

.one-col li{
	display: block;
	width:100%;
	height:11.4em;
	position: relative;
	overflow: hidden;
	border-bottom: 1px solid #F0F7EF;
}

.one-col li a>span:first-child{
	height:100%;
	width:45%;
	max-width:180px;
	overflow: hidden;
	float: left;
}

.one-col li img{
	height:100%;
	width:auto;
}

.one-col li a>span:last-child{
	width:50%;
	height:100%;
	float: left;
}

.one-col li a{
	overflow: hidden;
}

.one-col li a * span{
	line-height: 2;
	height:2em;
}

.one-col span.name{
	color:#42312e;
	font-size: 2em;
	margin-top:-0.4em;
}

.one-col span.price{
	position: absolute;
	bottom:0;
	right:2.19em;
}

.one-col span.contact:before{
	content:"联系人：";
}

.one-col span.locale:before{
	content:"交易地点：";
}

span:before{
	display: inline-block;
	margin-right: 5px;
}

/*srch_result ending here*/

#details>section{
	padding:0.93em 1.7%;
}

.img-box{
	width:100%;
	overflow: hidden;
}

.img-box ul{
	width: 300%;
	height:100%;
	position: relative;
}

.img-box li{
	width:33.33%;
	float: left;
}

.img-box li img{
	width:100%;
}

#show-box{
	width:100%;
	overflow: hidden;
}

#show-box ul{
	width: 300%;
	height:100%;
	position: relative;
}

#show-box li{
	width:33.33%;
	float: left;
}

#show-box li img{
	width:100%;
}

#pointer{
	margin-top: 1.1em;
	text-align: center;
}

#pointer span{
	display: inline-block;
	width:0.65em;
	height:0.65em;
	margin: 0 0.55em;
	border-radius:10px;
	-webkit-border-radius:10px;
	background: #E9E9E8;
	transition:background 0.5s 0s linear;
	 -webkit-transition:background 0.5s 0s linear;
	  -moz-transition:background 0.5s 0s linear;
	   -o-transition:background 0.5s 0s linear;
	   	 -ms-transition:background 0.5s 0s linear;
}

#text>span{
	display: block;
	text-align: left;
	color:#42312e;
	line-height: 1.7;
	font-size: 1.5em;
}

span.char{
	margin-right: 7px;
}

#text>span.price{
	font-size: 2.9em;
	line-height: 1;
	color:#D92929;
	text-align: right;
	position:relative;
	top:-1em;
}

#text>span.name{
	font-size: 2.4em;
}

#text span.locale{
	display: inline-block;
	font-size: 0.87em;
	line-height: 1.2;
	padding:0 15px;
	margin-left: 10px;
	color:#fff;
	background: #D92929;
}

#text span.contact, span.qq, span.tel, span.time, span.describe{
	padding-left:63px;
}

#text span:before{
	width:63px;
	margin-left: -63px;
}

#text span.contact:before, #want span.contact:before{
	content:"联系人";
}

#want span.locale:before{
	content:"地点";
}

span.qq:before{
	content:"QQ";
}

span.tel:before{
	content:"电话";
}

span.time:before{
	content:"发布日";
}

span.describe:before{
	content:"描述";
}

#show-box{
	transform-style:preserve-3d;
	 -webkit-transform-style:preserve-3d;
	  -moz-transform-style:preserve-3d;
	   -ms-transform-style:preserve-3d;
	   	-o-transform-style:preserve-3d;
	perspective:300px;
	 -webkit-perspective:300px;
	  -moz-perspective:300px;
	   -o-perspective:300px;
}

#show-box li{
	z-index:0;
	opacity:0;
	-webkit-transition: 0ms;
	-webkit-transform:translate3d(0,0,0) scale(1);
}

#show-box .current1{
	opacity:1;
	position:absolute;
	z-index: 10;
	animation:slideInL 0.5s ease-out;
	 -webkit-animation:slideInL 0.5s ease-out;
	  -moz-animation:slideInL 0.5s ease-out;
	   -ms-animation:slideInL 0.5s ease-out;
	    -o-animation:slideInL 0.5s ease-out;
}

#show-box .current2{
	opacity:1;
	position:absolute;
	z-index: 10;
	animation:slideInR 0.5s ease-out;
	 -webkit-animation:slideInR 0.5s ease-out;
	  -ms-animation:slideInR 0.5s ease-out;
	   -moz-animation:slideInR 0.5s ease-out;
	    -o-animation:slideInR 0.5s ease-out;
}

#show-box .gone{
	z-index: 5;
	opacity:0;
	position:absolute;
	animation:scaleOut 0.5s ease-out;
	 -webkit-animation:scaleOut 0.5s ease-out;
	  -moz-animation:scaleOut 0.5s ease-out;
	   -ms-animation:scaleOut 0.5s ease-out;
	    -o-animation:scaleOut 0.5s ease-out;
}

@keyframes slideInL{
	from{
		transform:translateX(100%);
	}
	to{
		transform:translateX(0);
	}
}
@-webkit-keyframes slideInL{
	from{
		-webkit-transform:translateX(100%);
	}
	to{
		-webkit-transform:translateX(0);
	}
}
@-moz-keyframes slideInL{
	from{
		-moz-transform:translateX(100%);
	}
	to{
		-moz-transform:translateX(0);
	}
}
@-ms-keyframes slideInL{
	from{
		-ms-transform:translateX(100%);
	}
	to{
		-ms-transform:translateX(0);
	}
}
@-o-keyframes slideInL{
	from{
		-o-transform:translateX(100%);
	}
	to{
		-o-transform:translateX(0);
	}
}

@keyframes slideInR{
	from{
		transform:translateX(-100%);
	}
	to{
		transform:translateX(0);
	}
}
@-webkit-keyframes slideInR{
	from{
		-webkit-transform:translateX(-100%);
	}
	to{
		-webkit-transform:translateX(0);
	}
}
@-moz-keyframes slideInR{
	from{
		-moz-transform:translateX(-100%);
	}
	to{
		-moz-transform:translateX(0);
	}
}
@-ms-keyframes slideInR{
	from{
		-ms-transform:translateX(-100%);
	}
	to{
		-ms-transform:translateX(0);
	}
}
@-o-keyframes slideInR{
	from{
		-o-transform:translateX(-100%);
	}
	to{
		-o-transform:translateX(0);
	}
}

@keyframes scaleOut{
	from{
		opacity:1;
		transform:scale(1);
	}
	to{
		opacity:0.5;
		transform:scale(0);
	}
}
@-webkit-keyframes scaleOut{
	from{
		opacity:1;
		-webkit-transform:scale(1);
	}
	to{
		opacity:0;
		-webkit-transform:scale(0);
	}
}
@-moz-keyframes scaleOut{
	from{
		opacity:1;
		-moz-transform:scale(1);
	}
	to{
		opacity:0.5;
		-moz-transform:scale(0);
	}
}
@-ms-keyframes scaleOut{
	from{
		opacity:1;
		-ms-transform:scale(1);
	}
	to{
		opacity:0.5;
		-ms-transform:scale(0);
	}
}
@-o-keyframes scaleOut{
	from{
		opacity:1;
		-o-transform:scale(1);
	}
	to{
		opacity:0.5;
		-o-transform:scale(0);
	}
}

#pointer .current{
	background: #D92929;
}

/*details ending here*/

#want-list ul{
	padding: 2.42em 0;
}

#want-list ul li{
	position: relative;
	padding:2.42em 3px;
	border-bottom: 1px solid #F0F7EF;
}

#want-list ul li:first-child{
	border-top: 1px solid #F0F7EF;
}

#want-list li>span{
	clear:both;
	font-size:1.5em;
	line-height: 1.7;
	color:#989898;
	padding-left: 3.02em;
}

#want-list span.name{
	width:100%;
	color:#080100;
	font-weight: bolder;
}

#want-list span.name:before{
	content:"";
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:3px;
	-webkit-border-radius:3px;
	vertical-align: middle;
	background:#D92929; 
	margin-left: 0;
}

#want-list span.name,#want-list span.price{
	padding-left: 0;
}

#want-list span.price{
	color:#D92929;
	position:absolute;
	right:0;
	margin-top:-1.7em;
}

#want-list span:before{
	display: inline-block;
	margin-left: -3.02em;
}

@media only screen and (min-width: 641px){
	body{
		width:594px;
		padding:0 23px 32px;
		margin:0 auto;
	}
} 

@media only screen and (max-width: 520px){
	body{
		font-size: 13px;
	}
}

@media only screen and (max-width: 420px){
	.one-col li a>span:first-child{
		margin-right: 4.5%;
	}
	body{
		font-size: 12px;
	}
}

@media only screen and (max-width: 340px){
	body{
		font-size: 11px;
	}
}